@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  min-height: 100vh;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.main-index {
  flex-grow: 1;
}

.main-inner {
  flex-grow: 1;
}

/* h2 */
.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: auto;
  color: #000000;
}

.description {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 0;
}

/* h3 */
.subtitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  color: #000000;
}

.button {
  font-family: "PT Sans", sans-serif;
  display: inline-block;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: #ffffff;
}

.button-large {
  font-size: 20px;
  line-height: 36px;
}

.button-blue {
  background-color: #82b3d3;
}

.button-brown {
  background-color: #756157;
}

.button-green {
  background-color: #7db54f;
}

.button-grey {
  background-color: #f2f2f2;
}

.button-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.navigation {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  position: relative;
}

.navigation ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
}

.navigation a {
  text-decoration: none;
}

.navigation-link {
  display: block;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  padding: 20px 16px;
  color: #000000;
}

.navigation-user-link {
  display: block;
  max-width: 88px;
  color: #000000;
  padding: 22px 12px;
}

.navigation-list {
  padding:  0 70px 0 170px;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navigation-user-list {
  margin: 0;
  padding: 0 20px 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 88px;
}

.navigation-user-list .navigation-user-link {
  min-width: 20px;
  min-height: 20px;
}

.navigation-user-list .navigation-user-item:nth-child(1) .navigation-user-link{
  background-image: url('../images/icon/search.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user-list .navigation-user-item:nth-child(2) .navigation-user-link{
  background-image: url('../images/icon/heart.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-page-header-logo {
  display: block;
}

.logo-image {
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 70px;
}

.navigation-user-selected-hotels {
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background: #7db54f;
  text-align: center;
  position: absolute;
  right: 253px;
  top: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-button {
  padding: 8px 34px;
  align-self: center;
}

.count-selected-hotels {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
}

.hero {
  background-color: #365a5a ;
  background-image: url("../images/divider.svg"), url("../images/background/hero_background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, center;
  text-align: center;
  min-height: 485px;
}

.hero-welcome {
  max-width: 100%;
  height: auto;
  margin-top: 51px;
}

.advantages {
  text-align: center;
}

.advantages-title-wrapper {
  padding: 69px 270px;
}

.advantages-title {
  margin-bottom: 25px;
}

.advantages-list {
  list-style-type:  none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
}

.advantages-item-wrapper {
  display: flex;
  flex-direction: column;
}

.advantages-dark .advantages-item-wrapper {
  padding: 102px 85px;
}

.advantages-light .advantages-item-wrapper {
  padding: 112px 85px;
}

.advantages-medium .advantages-item-wrapper {
  padding: 112px 85px;
}

.advantages-subtitle {
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0 25px ;
  display: flex;
  flex-direction: column;
}

.advantages-subtitle::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  align-self: center;
  margin-top: 30px;
}

.advantages-dark .advantages-subtitle::after {
  background-color: rgba(265, 265, 265, 0.3);
}

.advantages-light .advantages-subtitle::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-medium .advantages-subtitle::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-description{
  margin: 0;
}

.advantages-dark .advantages-subtitle{
  color: #ffffff;
}

.advantages-dark .advantages-item-description {
  color: #ffffff;
}

.advantages-dark {
  background: #82B3D3;
}

.advantages-medium {
  width: 400px;
  min-height: 385px;
  background: rgba(131, 179, 211, 0.2);
}

.advantages-light {
  width: 400px;
  min-height: 385px;
  background: rgba(131, 179, 211, 0.12);
}

.services {
  text-align: center;
}

.services-title-wrapper {
  padding: 64px 350px;
}

.services-title {
  margin-bottom: 20px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type:  none;
  padding: 0;
  margin: 0;
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 79px 85px 81px 85px;
  max-width: 230px;
}

.services-subtitle {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 0;
}

.services-subtitle::before {
  content: "";
  display: block;
  width: 75px;
  height: 76px;
  margin-bottom: 28px;
  align-self: center;
}

.services-item:nth-child(1) .services-subtitle::before {
  background-image: url('../images/icon/house.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.services-item:nth-child(2) .services-subtitle::before {
  background-image: url('../images/icon/food.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.services-item:nth-child(3) .services-subtitle::before {
  background-image: url('../images/icon/advantage.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.services-item-description {
  margin: 0;
}

.services-item:nth-child(odd) {
  background: rgba(131, 179, 211, 0.12);
}

.booking {
  text-align: center;
  padding: 96px 304px;
}

.booking-title {
  margin-bottom: 20px;
}

.booking-description {
  margin-top: 0;
  margin-bottom: 54px;
}

.booking-button {
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  display: block;
  padding: 8px 50px;
}

.subscription {
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 96px 258px 104px 258px;
}

.subscription-background-img {
  background-color: #365a5a;
  background-image: url("../images/background/background_subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title-wight {
  color: #ffffff;
}

.subscription-title {
  margin-bottom: 20px;
}

.subscription-description {
  margin-top: 0;
  margin-bottom: 54px;
  padding: 0 104px;
}

.subscription-form {
  display: flex;
}
.subscription-form-field {
  margin: 0;
  border: none;
  box-sizing: border-box;
  padding: 14px 20px 14px 20px;
  flex-grow: 1;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}
.subscription-form-field::placeholder {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.subscription-button {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding: 8px 50px;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 45px 70px 35px 70px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  max-width: 142px;
}

.social-item .social-link {
  min-width: 47px;
  min-height: 40px;
}

.social-link {
  display: block;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 17px;
}

.social-vk {
  background-image: url("../images/icon/vk.svg");
}

.social-telegram {
  background-image: url("../images/icon/telegram.svg");
}

.social-youtube {
  background-image: url("../images/icon/youtube.svg");
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.developer-link {
  min-height: 40px;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-top: 6px;
}

svg .developer-link {
  fill: #000000;
}

/*Страница catalog.html*/
.catalog-hotels-wrapper {
  margin: 0 auto;
  display: block;
  background-color: #365a5a;
  background-image: url("../images/background/background_search.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 35px 70px 70px 70px;
}
.inner-header {
  padding-bottom: 40px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  margin: 0;

}
.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  vertical-align: middle;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.breadcrumbs-link-icon {
  display: block;
  max-width: 13px;
  height: 15px;
  color: #000000;
  padding: 3px 0;
  cursor: pointer;
}

.breadcrumbs-item:nth-child(1) {
  width: 13px;
  height: 15px;
  background-image: url("../images/icon/white_house.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.breadcrumbs-item:not(:first-child)::before {
  display: block;
  text-decoration: none;
  margin: 0 10px;
  width: 8px;
  height: 21px;
  content: url("../images/icon/tick_breadcrumbs.svg");
  order: -1;
}

.breadcrumbs-item:not(:first-child) {
  display: flex;
}

.catalog-filter {
  display: flex;
  align-items: center;
}

.catalog-filter-group{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border-width: 0;
}

.filter-group-infrastructure {
  margin: 0 70px 0 0;
}

.filter-group-hotel-type {
  margin-right: auto;
}

.catalog-filter-list {
  list-style-type:  none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  line-height: 23px;
  display: flex;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control:has(.control-input:disabled) {
  opacity: 0.3;
  pointer-events: none;
}

.control-input {
  appearance: none;
  vertical-align: middle;
  text-align: center;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  cursor: pointer;
  padding: 0;
  margin: 1px 16px 1px 0;
  display: block;
}

.control-input[type="checkbox"] {
  position: relative;
  border-radius: 4px;
  margin: 1px 16px 1px 0;
  display: block;
}

.control-input[type="checkbox"]:checked::before {
  position: absolute;
  top: 5px;
  left: 4px;
  display: block;
  width: 13px;
  height: 10px;
  background-image: url(../images/icon/tick_checkbox_blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: "";
}

.control-input[type="radio"] {
  position: relative;
  border-radius: 50%;
}

.control-input[type="radio"]:checked::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.price-input-wrapper {
  display: flex;
  position: relative;
  margin: 0 0 42px 0;
}

.price-label {
  position: absolute;
  color: #000000;
  z-index: 1;
  padding: 0;
  text-align: center;
  font-weight: 400;
  opacity: 0.3;
}

.price-from {
  left: 106px;
  bottom: 13px;
}

.price-to {
  right: 20px;
  bottom: 13px;
}

.price-field {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  position: relative;
  text-align: left;
  margin: 0;
  border: none;
  box-sizing: border-box;
  padding: 12px 20px 12px 20px;
  width: 143px;
  text-decoration: none;
  cursor: pointer;
}

.price-field[name="price-from"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.price-field[name="price-to"] {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-left: 2px;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  /*outline: 3px solid #dbb590;*/
  border: 3px solid #83B3D3;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:active{
  border: 2px solid #83B3D3;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.catalog-filter-button-wrapper{
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: auto 0 2px 70px;
}

.catalog-filter-button-wrapper .button-blue {
  margin-bottom: 36px;
}

.catalog-filter-button {
  padding: 8px 50px;
  display: inline-block;
}

.search {
  margin-right: 70px;
  margin-left: 70px;
}
.search-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px 0 40px 0;
}

.search-title {
  margin-right: auto;
  margin-left: 0;
}

.search ul {
  list-style-type:  none;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.sorting-list {
  display: flex;
  padding: 0 0 0 70px;
  margin: 0;
}

.sorting-link {
  display: block;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 15px 14px;
}

.sorting-current{
  border: 2px solid #000000;
}

.sorting-item:not(:last-child) {
  margin-right: 8px;
}

/*УБРАТЬ*/
.sorting-content {
  width: 16px;
  height: 14px;
  background-color: black;
}

.product-card a {
  text-decoration: none;
}

.product-card-image {
  display: block;
  align-items: center;
  margin-bottom: 16px;
}

.product-card-title {
  display: block;
  text-transform: none;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-left: 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
  margin: 0 0 40px 0;
}

.product-card p {
  margin-top: 0;
  margin-bottom: 0;
}

.product-card {
  border-radius: 4px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 1fr;
  gap: 16px 20px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  max-width: 340px;
}

.product-card-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.product-card-price {
  justify-self: end;
}

.product-card-button {
  text-transform: uppercase;
  text-align: center;
  align-self: center;
  color: #ffffff;
  display: inline-block;
  padding: 8px 0;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  align-self: center;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
}

.star {
  display: flex;
  align-items: center;
}

.star-4::before {
  width: 42px;
}
.star-4::after {
  width: 42px;
  margin-left: 6px;
}

.star-3::before {
  width: 66px;
}

.star-2::before {
  width: 42px;
}

.star::before {
  content: "";
  height: 17px;
  background-image: url(../images/icon/star.svg);
  background-repeat: space no-repeat;
  background-size: contain;
}

.star::after {
  content: "";
  height: 17px;
  background-image: url(../images/icon/star.svg);
  background-repeat: space no-repeat;
  background-size: contain;
}

.pagination-list {
  display: flex;
  padding: 0;
  margin: 0 0 40px 0;
  list-style-type: none;
}

.pagination-list a {
  display: inline-block;
  text-align: center;
  width: 60px;
  text-decoration: none;
  padding: 12px 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  color: #ffffff;
}

.pagination-list .pagination-current {
  color: #000000;
}

.pagination-list .ellipsis {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  display: inline-block;
  width: 60px;
  background-color: #ffffff;
  color: #000000;
  padding: 12px 0;
}


